<div *ngIf="campeonato">

    <h2>Cadastrar: {{ campeonato.nome }}</h2>
    <div><span>ID: </span>{{campeonato.id}}</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label>nome:
              <input [(ngModel)]="campeonato.nome" placeholder="Nome" name="nome" id="nome"/>
            </label>
            <label>Data Criação:
                <input [(ngModel)]="campeonato.nascimento" placeholder="Nascimento" name="nascimento" id="nascimento"/>
              </label>
            <label fo="especie">Jogo: </label>
            <select [(ngModel)]="espe" class="form-control" id="especies" name="especies"  required>
              <option id="especie" name="especie"  *ngFor="let especie of especies" [ngValue]="especie">{{especie.descricao}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success" >Cadastrar</button>
          <button type="button" class="btn btn-success" (click)="goBack()">Voltar</button>
    </form>
</div>